.content {

  overflow-y: auto;
  height: calc(100vh - 105px);
  border: 1px #cccccc solid;
}



.clr-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.red {
  background-color: #aa000022 !important;
}
