<clr-modal [(clrModalOpen)]="visible" [clrModalSize]="'lg'">
  <h3 class=modal-title>{{ edit? 'Редактирование записи':'Добавление записи' }}</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="form" >
      <clr-input-container>
        <label class="clr-col-4 clr-col-md-4">Наименование</label>
        <input clrInput type="text" placeholder="" size="40" formControlName="title" class="clr-col-8 clr-col-md-8">
        <clr-control-error>Необходимо заполнить поле</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-col-4 clr-col-md-4">Срок носки (мес)</label>
        <input clrInput placeholder="12" size="20" formControlName="period" type="number" class="clr-col-4 clr-col-md-4">
        <clr-control-error>Введите число от 1 до 60</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary-outline" (click)="visible=false">Отмена</button>
    <button type="button" class="btn btn-success-outline" (click)="okClick()" [disabled]="form.invalid">Применить</button>
  </div>
</clr-modal>
